# Configurações do Banco de Dados
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=adminpassword
DB_NAME=stock_db

# Configurações do Backend
PORT=3000
JWT_SECRET=supersecretjwtkey

# Configurações do Frontend
VITE_API_URL=http://localhost:3000
